{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
Web Search™
{% endblock %}


{% block content %}

<!--
	TIPS about using Bootstrap-Flask:
	https://github.com/helloflask/bootstrap-flask
	https://bootstrap-flask.readthedocs.io/
-->

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Web Search™</h1>

      {{ render_form(form) }}

      <br />

      <ul>
        {% for result in results: %}
        <li>{{ result }}</li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>

{% endblock %}
